#grid-container {
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(16, 20px);
  grid-template-rows: repeat(16, 20px);
  gap: 0px 0px;
  overflow: hidden;
}

.grid-square {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
}
