/* Animate the entire page background with a rainbow wave */
@keyframes rainbowBackground {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

body {
  transition: background-color 5s ease-in-out;
  color: white;
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  color: #7fdbff;
  margin-top: 20px;
  font-size: 6em;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

#sidebar {
  background-color: grey;
  width: 200px;
  height: calc(66vh - 40px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  margin-right: 20px;
}

button {
  flex-grow: 1;
  margin: 10px;
  border: 2px solid #7fdbff;
  background-color: #333;
  color: white;
  padding: 10px;
  cursor: pointer;
}

button.active {
  background-color: #555;
  border-color: #00bcd4;
}

button:hover {
  background-color: #555;
  border-color: #00bcd4;
}

#grid-container {
  background-color: white;
  width: calc(66vh - 40px);
  height: calc(66vh - 40px);
  display: grid;
  gap: 0px 0px;
}

.grid-square {
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#grid-size-container {
  color: #7fdbff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid-size-slider {
  width: 100%;
  margin-bottom: 10px;
}
